<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="deadVally.css">
    <title>Dead vally</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style> 
        .container { 
            display: flex; 
            justify-content: space-between; 
        } 
    </style>
</head>
<iframe src="https://gamsite.gitlab.io/-/dead-valley/-/jobs/5445181100/artifacts/public/index.html" name="dead vally" width="100%" height="100%" style="border: solid #000000;"></iframe>