* {
    box-sizing: border-box;
} 

body {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background-color:#001122;
    font-family: monospace;
}

.button {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.button {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  .button:active {
    background-color: #8BADC1;
}
.button2 {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.button2 {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  .button2:active {
    background-color: #8BADC1;
}
.button { margin-right: 10px; }
.button2 { margin-right: 10px; }