body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background-color:#001122;
    font-family: monospace;
}
.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    position: absolute;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group:hover {
    background-color:#002ead;
    color: #002ead;
    transition: 0.7s;
}